{% extends 'card_layout.html' %}
{% block icon %}fa-industry{% endblock %}
{% block title %}Companies{% endblock %}
{% block content %}
<table class="table table-sm table-responsive">
  <thead>
    <tr>
      <th>Name & Address</th>
      <th>Representatives</th>
      <th>Booth</th>
      <th>Days</th>
      <th>Options</th>
      <th>Contract</th>
      <th>Contract (En)</th>
      <th>Fairguide</th>
      <th>Infoletter</th>
      <th>Feedback</th>
    </tr>
  </thead>
  <tbody>
    {% for c in companies %}
    <tr>
      <td>
        {{ c.name }}<br/>
        {{ c.companyaddress|replace("\n", "<br/>")|safe }}<br/>
        {{ c.companycity }}<br/>
        {{ c.companycountry }}
      </td>
      <td>
        <b>Company:</b><br/>
          {{ c.companyrepresentative}}<br/>
        <b>AMIV:</b><br/>
          {{ c.amivrepresentative }}
      </td>
      <td>{{ c.boothchoice }}</td>
      <td>{{ c.days }}</td>
      <td>
        {# Only display short names #}
        {{ c.first.name if c.first}}
        {{ c.business.name if c.business}}
        {{ c.media.name if c.media}}
      </td>
      <!-- Contract -->
      <td>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('contracts', output_format='mail', company_id=c.id) }}">
          full
        </a>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('contracts', output_format='email', company_id=c.id) }}">
          contract
        </a>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('contracts', output_format='tex', company_id=c.id) }}">
          source
        </a>
      </td>

      <!-- English Contract -->
      <td>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('english_contract', output_format='mail', company_id=c.id) }}">
          full
        </a>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('english_contract', output_format='email', company_id=c.id) }}">
          contract
        </a>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('english_contract', output_format='tex', company_id=c.id) }}">
          source
        </a>
      </td>

      <!-- Fairguide -->
      <td>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('companypage', output_format='pdf', company_id=c.id) }}">
          pdf
        </a>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('companypage', output_format='tex', company_id=c.id) }}">
          source
        </a>
      </td>

      <!-- Infoletter -->
      <td>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('infoletter', output_format='pdf', company_id=c.id) }}">
          pdf
        </a>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('infoletter', output_format='tex', company_id=c.id) }}">
          source
        </a>
      </td>

      <!-- Feedback Form -->
      <td>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('feedback', output_format='pdf', company_id=c.id) }}">
          pdf
        </a>
        <a class="btn btn-primary-outline btn-sm btn-block"
           style="vertical-align=middle;"
           href="{{ url_for('feedback', output_format='tex', company_id=c.id) }}">
          source
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
