<div class="card card-inverse card-warning">
  <div class="card-block">
    <h4 class="card-title">
      <i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"
         style="margin-right: 0.1em;"></i>
      Warnings
    </h4>
    <ul style="color: white;">
    {% for company in warnings %}
      <li>
        <b>{{ company.name }}:</b> has not specified any fairguide text and
        will be excluded from the fairguide
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
